/DNAGenerator.class
/MPIHello.class
/Point.class
/ReadCSV.class
/DNACluster.class
/Main.class
/Kmeans.class
/KMPoints.class
/DNA.class
/K2D.class
/MainDNA.class
/Main2D.class
/KMPoints_sequential.class
/KMPoints_seq.class
/DNACluster_seq.class
/DNA_seq.class
/KMPoints_paral.class
/DNA_paral.class
